.notChecked {
  color: black;
  background-color: white;
}

.match {
  color: white;
  background-color: rgb(16, 122, 16);
}

.inWord {
  color: white;
  background-color: rgb(223, 203, 29);
}

.notMatch {
  color: white;
  background-color: grey;
}